In [17]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from scipy import stats

#### Задача 1

Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [11]:
df = pd.DataFrame({'salary': [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], 'scoring': [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]})

df

   salary  scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459
5      70      739
6      54      653
7     150      902
8     120      746
9     110      832

In [12]:
X = df['salary']
Y = df['scoring']

MX = X.mean()
MY = Y.mean()

cov = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov

10175.37777777778

In [13]:
np.cov(X, Y)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

Коэффициент корреляции Пирсона:

In [14]:
corr = cov / (X.std() * Y.std(ddof = 1))
corr

0.8874900920739164

In [15]:
df[['salary', 'scoring']].corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

In [16]:
np.corrcoef(X, Y)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

#### Задача 2

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:

131, 125, 115, 122, 131, 115, 107, 99, 125, 111

Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [19]:
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
n = iq.shape[0]

In [20]:
p = 0.95
alpha = 1 - p

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.2621571627409915, 2.2621571627409915)

In [23]:
std = iq.std(ddof=1)
std

10.54566788359614

In [24]:
mean = iq.mean()
mean

118.1

Доверительный интервал:

In [25]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(110.55608365158724, 125.64391634841274)

#### Задача 3

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [26]:
D_X = 25
n = 27
mean = 174.2

In [30]:
std = np.sqrt(D_X)

In [28]:
p = 0.95
alpha = 1 - p

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.055529438642871, 2.055529438642871)

Доверительный интервал:

In [29]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(172.2220658754539, 176.17793412454608)